.background {
  padding: 0;
  margin: 0;
  background-image: url("../img/degrade.jpg");
}

.opa {
    padding-top: 3%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.top{
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.q-geral{
    display: flex;
    margin: auto;
    align-items: center;
    height: 550px;
    width: 90%;
    margin-top: 8%;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
}

.buttom {
    width: 150px;
    height: 150px;
    margin-top: 30%;
    margin-left: 20%;
    font-size: 75px;
    text-align: center;
    color: rgb(240, 248, 255);  
}

#modal {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 10%;
}
#modal2 {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 10%;
    padding-left: 15%;
}
.inputDiv{
    background-color: whitesmoke;
    height: 400px;
    border-radius: 8px;
}
